atlassian-ide-plugin.xml
.DS_Store
*.py~
*.swp
*.pyc
*~
target/
*#
.DS_Store
xspec/xspec/
*-result.html
rebel_project.xml
*.iml
*.project
*.classpath
.extract*
.settings*
*.log
**.idea/*
**.metadata
*.pmd
*.idea
*.eclipse
*.checkstyle
*.eclipse-pmd
node
node_modules
frontend-dest
.gradle
build/
data/
dependency-reduced-pom.xml
